.men{
    padding:10px;
    position: sticky;
    top: 0;
}
.men-info{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.men-info img{
    width: 30%;
    margin-right: 10px;
}
.men-health{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    background-color: whitesmoke;
    padding-top: 5px;
    border-radius: 5px;
}
.men-time{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}
.men-time button{
    border-radius: 50%;
    background-color: white;
    border: none;
    padding: 8px;
}
.men-time button:hover{
    background-color: blueviolet;
    color:white;
}

.exercise-time , .break-time{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.break-time{
    margin: 20px 0;
}

.title{
    margin-top: 35px;
}